apiVersion: apps/v1
kind: Deployment
metadata:
  name: brain-tasks-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: brain-tasks
  template:
    metadata:
      labels:
        app: brain-tasks
    spec:
      containers:
        - name: brain-tasks-container
          image: 453632313819.dkr.ecr.ap-south-1.amazonaws.com/brain-tasks-devops:latest
          ports:
            - containerPort: 3000
